/* Calendar */

.container {
	margin-top:80px;
	
}

.week {
	height: 30px;
	text-align:center;
	font-weight:300px;
	
}

.week td {
	height: 100px;
}

.today {
	background-color: orange;
}


/* end calender */
