/*/ all pages /*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 20px;
	color: #000;
	background-color: #fff;
}

h1 {
	font-weight: 400;
}
h2, h3, h4 {
	font-weight: 300;
}

h4 {
	color: #DA0F5F;
}

a { 
	text-decoration: none;
	color: #DA0F5F;
	margin: 10px;
	transition: color .4s ease;
}

p {
	display: inline-block;
}

a:hover { 
	color: #000;
}

hr {
	border: none;
    height: 2px;
    color: #DA0F5F; /* old IE */
    background-color: #DA0F5F; /* Modern Browsers */
}

#logo {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	display: block;
}

/*/ Placeholders /*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

/*/ Login /*/

.loginDiv {
	margin:0 auto;
	width:25%;
	margin-top: 10%;
}

.loginDiv h1 {
	text-align:center;
}
.loginDiv h2 {
	text-align:center;
}

.loginForm {

}

.loginDiv a {
	font-weight: 600;
}

.loginDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}

.button {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #fff;
	border: 1px solid #DA0F5F;
	border-radius: 20px;
	background-color: #DA0F5F;
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
    display: inline-block;
	/*/Learned at http://www.html5andcss3.org/css3transitions.php/*/
	transition: all .4s ease;
}

.button:hover {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.inputField {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	color: #000;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #000;
	width: 100%;
	padding: 10px 0px;
	margin: 10px 0px;
	box-sizing: border-box;
}

.inputField:focus { 
    outline: none !important;
    border-color:#DA0F5F;
}

/*/ Registration /*/

.registrationDiv {
	margin:0 auto;
	width:25%;
	margin-top: 10%;
}

.registrationDiv h1 {
	text-align:center;
}
.registrationDiv h2 {
	text-align:center;
}

.registrationDiv a {
	font-weight: 600;
}

.registrationDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}

.registrationForm {

}

/*/Settings/*/

.settingsDiv {
	width:25%;
}

.settingsDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}
.settingsDiv h4 {
	margin-bottom: 0px;
	margin-top: 20px;
}

/**** To do list *****/



/****** Calendar ********/

.container {
	margin-top:30px;
	
}

th {
	height: 30px;
	text-align:center;
	font-weight:200px;
}

td {
	font-weight:200px;
}

td a {
	text-decoration:none;
}

.today {
	background-color: #80d4ff;
}

/* end calender */

/**** Footer *****/
