/*/ all pages#DA0F5F /*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	line-height: 20px;
	color: #000;
	background-color: #fff;
}

h1 {
	font-weight: 400;
}
h2, h3, h4, h5 {
	font-weight: 300;
}

h2 {
	font-size: 18pt;
}

h3 {
	font-size: 14pt;
	margin:0;
}

h4 {
	font-size: 13pt;
	margin:0;
}

h5 {
	font-size: 9pt;
	color: #000;
	margin:0;
}

a {
	text-decoration: none;
	color: #DA0F5F;
	margin: 10px;
	transition: color .4s ease;
}

p {
	display: inline-block;
}

a:hover {
	color: #000;
}

hr {
	border: none;
    height: 2px;
    color: #DA0F5F; /* old IE */
    background-color: #DA0F5F; /* Modern Browsers */
}


#logo {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	display: block;
}

/*/Autofill forms/*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #DA0F5F;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/*/ Placeholders /*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #000;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #000;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #000;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #000;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #000;
}

/*/ Login /*/

.loginDiv {
	margin:0 auto;
	width:25%;
	margin-top: 7%;
}

.loginDiv h1 {
	text-align:center;
}
.loginDiv h2 {
	text-align:center;
}

.loginForm {

}

.loginDiv a {
	font-weight: 600;
}

.loginDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}

.button {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 12pt;
	color: #fff;
	border: 1px solid #DA0F5F;
	border-radius: 20px;
	background-color: #DA0F5F;
	width: 100%;
	padding: 10px;
	margin: 10px 0px;
    display: inline-block;
	/*/Learned at http://www.html5andcss3.org/css3transitions.php/*/
	transition: all .4s ease;
}

.button:hover {
	border: 1px solid #000;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.inputField {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 12pt;
	color: #000;
	background-color: #fff;
	border: none;
	border-bottom: 1px solid #000;
	width: 100%;
	padding: 10px 0px;
	margin: 5px 0px 20px 0px;
	box-sizing: border-box;
}

.inputField:focus {
    outline: none !important;
    border-color:#DA0F5F;
}

/*/ Registration /*/

.registrationDiv {
	margin:0 auto;
	width:25%;
	margin-top: 5%;
}

.registrationDiv h1 {
	text-align:center;
}
.registrationDiv h2 {
	text-align:center;
}

.registrationDiv a {
	font-weight: 600;
}

.registrationDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}

.registrationForm {

}

/*/header/*/
header {
	overflow:hidden;
	background-color: #DA0F5F;
	width: 100%;
	position:fixed;
	top: 0;
}

.spacer
{
    width: 100%;
}

#headermenu ul li {
	float:left;
	list-style: none;
	margin:10px;
	padding:0;
}

#headermenu ul li a{
	text-decoration: none;
	color: white;
	font-size: 12pt;
	transition: color .4s ease;
	margin:0;
}

#headermenu ul li a:hover {
	color: #000;
}

#logout {
	float:right;
	color:white;
	text-decoration: none;
	transition: color .4s ease;
	font-size: 12pt;
}

#logout:hover {
	color: #000;
}

#logo_header {
	width:40px;
	margin:10px;
	float:left;
}

/*/Settings/*/

.settingsDiv {
	width:50%;
	margin:0 auto;
}

.settingsDiv h3 {
	margin-bottom: 10px;
	margin-top: 40px;
}
.settingsDiv h4 {
	margin-bottom: 0px;
	margin-top: 20px;
}

/**** To do list *****/

.tododiv{
	width:50%;
	margin-top:30px;
	padding:30px;
	box-sizing: border-box;
	overflow: scroll;
	float:left;
	clear:left;
}

.select {
		outline: 0;
    overflow: hidden;
    width: 100%;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    padding: 10px 0px 7px 0px;
    border-radius: 30px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 300;
		font-size: 12pt;
}

/****** Calendar ********/

.calendardiv {
	margin-top:30px;
	width:50%;
	padding:30px;
	box-sizing: border-box;
	float:left;
}

th {
	height: 30px;
	text-align:center;
	font-weight:200px;
}

td {
	font-weight:200px;
	text-align:center;
}

td a {
	text-decoration:none;
}

.today {
	background-color: #DA0F5F;
}

.today a {
	color:white;
	transition: color .4s ease;
}

.today a:hover {
	color:black;
}

/**** Footer *****/

footer {
	padding:10px;
	font-size: 12pt;
	box-sizing: border-box;
	width:100%;
	background-color:#fff;
	border-top:1px #eee solid;
	float:left;
	text-align: center;
}
