/**** all pages *****/

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	line-height: 20px;
}

h1, h2, h3, h4 {
	font-weight: 300;
}

a { 
	text-decoration: none;
	color: #000;
}

a:hover { 
	color: #ccc;
}


/**** Login *****/

.loginDiv {
	margin:0 auto;
	width:25%;
}

.loginDiv h1,h2 {
	text-align:center;
}

.loginForm {

}

.button {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	border: 1px solid #000;
	background-color: white;
	width: 100%;
	padding: 5px;
	margin: 10px 0px;
    display: inline-block;
}

.button:hover {
	border: 1px solid #ccc;
	color: #ccc;
}

.inputField {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	border: 1px solid #000;
	width: 100%;
	padding: 5px;
	margin: 10px 0px;
	box-sizing: border-box;
}

/**** Registration *****/

.registrationDiv {
	margin:0 auto;
	width: 45%;
}

.registrationForm {

}

/**** To do list *****/



/****** Calendar ********/

.container {
	margin-top:30px;
	
}

th {
	height: 30px;
	text-align:center;
	font-weight:200px;
}

td {
	font-weight:200px;
}

td a {
	text-decoration:none;
}

.today {
	background-color: #80d4ff;
}

/* end calender */

/**** Footer *****/
